@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@layer base {
  body {
    @apply dark:bg-gray-900;
  }
}

@layer components {
  .my-custom-pagination {
    @apply bg-white dark:bg-gray-700 flex flex-nowrap gap-2 sticky inset-0 z-100 overflow-auto px-2; /* add safari */
  }
}
.swiper-pagination-bullet {
  padding: 0.7rem 1.5rem !important;
  height: 2.5rem !important;
  margin: 1rem 0 !important;
  width: auto !important;
  white-space: nowrap;
  border-radius: 10000px !important;
  display: flex !important;
  flex-direction: row-reverse;
  background-color: #f3f4f6 !important;
  color: #374151;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  cursor: pointer !important;
  opacity: 1 !important;
  font-size: small;
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: hsl(180, 100%, 25%) !important;
}
